apiVersion: v1
values:
  images:
    snapshotController: "registry.k8s.io/sig-storage/snapshot-controller:v8.5.0"
patches:
  values.yaml:
    snapshot_controller_image: "{{ .images.snapshotController }}"
